<html>
  <head>
    <meta charset='UTF-8' />
    <title>Welcome to YOUR-COMPANY</title>
  </head>
  <body>
    <h1>Welcome, {{name}}!</h1>
    <p>Thank you for Sign up at YOUR-COMPANY, please use the pin code below:</p>
    <p><strong>Pin: {{otp}}</strong></p>
    <p>If you did not sign up for this account, please ignore this email or
      contact our support team if you have questions.</p>
    <p>Best regards,<br /><strong>YOUR-COMPANY support team</strong></p>
  </body>
</html>