<html>
  <head>
    <title>Password Update Notification</title>
  </head>
  <body>
    <p>Dear {{name}},</p>
    <p>We are writing to inform you that your password has been successfully
      updated.</p>
    <p>If you did not initiate this change, please disregard this email.
      However, if you have any concerns, we strongly recommend contacting our
      support team immediately as this may indicate unauthorized access to your
      account.</p>
    <p>If you have forgotten your password, you can reset it using the 'Forgot
      Password' option available on our login page.</p>
    <p>Best regards,</p>
    <p>Your Support Team</p>
  </body>
</html>